.Square {
    width: 12vw;
    height: 12vw;
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
}

.WhiteSquare {
    background-color: #F8DFA1;
}

.BlackSquare {
    background-color: #773f1a;
}

.SelectedSquare {
    background-color: blueviolet;
}

.CaptureSquare {
    width: 5vw;
    height: 5vw;
    max-width: 40px;
    max-height: 40px;
    background-color: gray;
}

.Marker {
    margin-top: min(3vw, 20px);
    margin-left: min(3vw, 20px);
    width: 6vw;
    height: 6vw;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    position: absolute;
}

.MoveMarker {
    background-color: green;
    opacity: 0.5;
}

.CaptureMarker {
    background-color: red;
    opacity: 0.5;
}

.CheckMarker {
    background-color: crimson;
    opacity: 0.8;
}
